{{#section 'css'}}
    <style>
        .myinfo, .myinfo td { /*border: 1px solid black;*/ }
        .myinfo { border-collapse: collapse; width: 350px; margin: 0 auto; }
        .myinfo td { padding: 7px; }
        .myinfo td:first-child { font-weight: bold; text-align: right; }
    </style>

{{/section}}

{{#section 'script'}}
    <!--    <script>-->
    <!--        alert('hello, world!!');-->
    <!--    </script>-->
{{/section}}
<main>
    <h2>회원정보</h2>
    <table class="myinfo">
        <tr><td>아이디</td><td>catgirl</td></tr>
        <tr><td>이름</td><td>으하하하</td></tr>
        <tr><td>이메일</td><td>catgir1@naver.com</td></tr>
        <tr><td>가입일</td><td>2014-05-01 12:01:33</td></tr>
    </table>

</main>
