{{#section 'css'}}
    #writefrm { width: 650px; }

{{/section}}

{{#section 'script'}}
    <script>
        const writeBoard = () => {
            let frm = document.write;
            if(frm.title.value == '') alert('제목 입력!')
            else {
                frm.method = 'post';
                frm.enctype = 'application/x-www-form-urlencoded'
                frm.submit();
            }
        }
        let wbtn = document.querySelector('#wbtn');
        wbtn.addEventListener('click', writeBoard);

    </script>

{{/section}}
<main>
    <h2>새글쓰기</h2>
    <form name="write" id="writefrm">
        <div><label for="title">제목</label>
            <input type="text" name="title" id="title"></div>

        <div><label for="uid">작성자</label>
            <input type="text" name="uid" id="uid"
                   value="catgirl" readonly></div>

        <div><label for="contents" class="dragup">본문</label>
            <textarea name="contents" id="contents"
                      rows="7" cols="55"></textarea></div>

        <div><label></label>
            <button type="button" id="wbtn">입력완료</button>
            <button type="reset">다시입력</button>
        </div>
    </form>
</main>